body{
  background-color: rosybrown;
  font-family: helvetica, arial, sans-serif;
  color: honeydew;
  border: green 4px solid;
  margin:0;
}
p{
  border: purple 3px solid;
}
img{
  width:100%;
  border: lightpink 2px solid;
  background: white;
  margin: 1%;
  padding: 2%;
}
a{
  color: aliceblue;
  text-decoration: none;
  border: red 2px solid;
}
h1{
  text-align: center;
  color:moccasin;
  border: purple 3px solid;
  margin:3%;
  font-family: Roboto Mono, monospace;
}
h2{
  border: purple 3px solid;
}
h3{
  font-size:2em;
  color: moccasin;
}
h4{
  font-size:1.3em;
  color: honeydew;
}
h5{
  font-size: 5em;
  color: rosybrown;
  text-align: right;
}
ol{
  padding: 2%;
  margin: auto;
  border: white 1px solid;
  width: 80%;
}
li{
  border-bottom: white 2px solid;
  padding: 5px;
  width: 90%;
  margin: auto;
}
#Top{
  text-align: center;
  color: blue;
  font-family: futura, sans-serif;
}
.center{
  margin:auto;
  width:100%;
  display:block;
}
.cover{
  background: url("coverart.jpg");
  height: 900px;
  background-position:top;
  background-color: moccasin;
  background-repeat: no-repeat;
  background-size: contain;
}
/* https://www.thethings.com/15-hilarious-spotify-playlist-memes-that-are-so-good-it-hurts/ */
